<% if current_user %>
<h3>Welcome, user #<%= current_user.id %></h3>
  
    
    Jobs:
     <%= link_to 'List All Jobs', jobs_path %>
    
        
  <% else %>  
   
      
      <p><%= image_tag("ship1.jpg", alt: "shipping dock") %></p>
   

  <% end %>  

  